<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
    <title>Itunes Playlist Converter</title>
    <!---- Icon ---->
    <link rel="icon" href="../static/download_arrow2.jpg" type="image/x-icon">
    <!-----Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300&display=swap" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 style="text-align: center; margin-top: 8%;">Itunes Playlist Converter</h1>

    <div id="mainForm">
        <br/>
        <form action='/audio' method="POST">
            <input type="text" name="val" placeholder="url" id="url" required>
            <br/>
            <br/>
            <input id="albumArtist" type="text" name="albumArtist" placeholder="playlist author" required>
            <input id="albumName" type="text" name="albumName" placeholder="playlist name" required>
            <br/>
            <br/>
                <input class="btn btn-primary" type="submit" value="Download" id="submitBtn">
        </form>
    </div>

    <br/>
    <div id="instruct" class="row">
        <p class=".col-sm-4">
            1) Go to youtube.com and get a playlist url
        </p>

        <p class=".col-sm-4">
            2) Enter a name and author for the playlist.
                <br/>
               (These can be anything you want)
        </p>

        <p class=".col-sm-4">
            3) Download and add to Itunes.
        </p>
    </div>
    
    <div id="loaderForm" class="row">
        <p class=".col-sm-4" id="loader-text"></p>
        <div class="spinner-border .col-sm-4 text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div> 
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js" integrity="sha512-hcPg/5yQzb6Ocz2NHy+XdRfmET1kTOtZc1l6Yt2TyriHW6WpK80hoLfaKG5wI7SqLt/x6IiV9kRoInYCA/BEWw==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">

        
        let socket =  io("https://itunes-audio.herokuapp.com/audio", {'transports': ['websockets']});

    
        socket.on("BackEnd", function(){
            console.log("connected to back")
        }) 

        
        /*
        let mainForm = document.getElementById("mainForm");
        let loaderForm = document.getElementById("loaderForm");
        let loaderText = document.getElementById("loader-text");
        let instruct = document.getElementById("instruct");

            function clearForms(){
                document.getElementById('url').value = "";
                document.getElementById('albumArtist').value = "";
                document.getElementById('albumName').value = "";
            }


            clearForms();

            socket.on('connect', function(){
                socket.send("User has connected")
            })
        
            socket.on('Working', function(msg){
                console.log(msg)
            })
        
        
            socket.on('GettingPlaylist', function(msg) {  
                socket.send("GP-------------->");
                console.log("aasdasdsa")
                mainForm.style.visibility = "hidden";
                loaderForm.style.visibility = "visible";
                loaderText.innerText = "Getting playlist";
                instruct.style.visibility = "hidden";
            });

        
        socket.on('Converting',function(){
            loaderText.innerText = "Converting playlist";
        });

        
        socket.on('ZipFile', function(){
            loaderText.innerText = "Sending To You Now";
        });

        
        socket.on('startOver', function(){
            loaderForm.style.visibility = "hidden";
            mainForm.style.visibility = "visible";
            loaderText.innerText = "";
            instruct.style.visibility = "visible";
            clearForms();
        })
        */
        
    </script>
    
</body>
</html>